canvas{
    border : 1px solid black;
    flex: 4;




}

#dessin{
    display: flex;
}

#palette, #outils{
    flex: 1;
}

#palette div, #outils div{
    width: 100px;
    height: 100px;
    border: solid 1px black;
    font-size: 3rem;
    display : flex;
    justify-content: center;
    align-items: center;
}

#selectedColor{
    background-color: black;
}



.form-groupe {
    position: relative;
}
label {
    margin: 5px 23px;
    font-size: 20px;
    padding: 10px 0 5px 0;
    display: block;
    position: relative;
}
input {
    display: block;
    margin: 10px 20px 20px 20px;
    outline: 0;
    background: rgb(226,226,226);
    width: 400px;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 22px;
    border: 1px solid rgba(0,0,0,0.3);
}

.flex-type{
    display: flex;
}

.formHidden{
    visibility: hidden;
}